<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>show disk usage</p>
{#it not works use for loop#}
{% for line in disk_usage  %}
    {% if "/dev/sda1" in line %}
        <p style="color:red">{{ line }}</p>
    {% else %}
        <p> {{ line }}</p>
    {% endif %}
{% endfor %}

{% for name, infos in names.items %}
    {{ name }}{{ infos }}<br/>
    {% for info in infos %}
        <ul>
        {% ifequal '23' info %}
            <li>{{name }}{{ info }}</li>
        {% else %}
            <li>{{ info }}</li>
        {% endifequal %}
        </ul>
    {% endfor %}
{#    <li>{{ name }}{{ infos }}</li>#}
{% endfor %}
{#<pre>{{ disk_usage }}</pre>#}

</body>
</html>